<!DOCTYPE html>
<html lang="en" data-bs-theme="grey">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Goran Ivanovski Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i&family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/goran.jpg" alt="" class="img-fluid rounded-circle">
        <h2 class="text-light"><a href="index.html">Goran Ivanovski</a></h2>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/home" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Skills</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Goran Ivanovski</h1>
      <p>I'm <span class="typed" data-typed-items="Python Developer, Freelancer, Entrepreneur"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I'm a Python enthusiast who's just starting my journey in software development. I'm passionate about learning how to build applications that are not only functional but also scalable and efficient. While I’m still gaining experience, I’m motivated to tackle new challenges and grow my skills. I value clear communication, adaptability, and teamwork, and I’m excited to apply what I learn to create real-world solutions.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/img/goran.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Python &amp; Web Developer.</h3>
            <p class="fst-italic">
             I’m a flexible Python and web developer who brings ideas to life by building smooth and effective digital projects, handling both the backend logic and the frontend design
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>16 November 1988</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>https://ivanovski.onrender.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+389 70 212224</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Bitola, Macedonia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>35</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>goranivanovski1611@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              I was born and raised in the lively city of Bitola, Macedonia, and I've spent over 10 years in the world of entrepreneurship. Now, I'm diving into the ever-evolving field of technology, starting with Python and web development. I'm excited to combine my business experience with my growing skills as a developer. If you'd like to connect, feel free to reach out to me at
              <a href="mailto:goranivanovski1611@gmail.com?subject=Collaboration%20Opportunity&body=Hi%20Goran," style="color: blue; text-decoration: underline;">goranivanovski1611@gmail.com</a>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>I’m a web developer skilled in HTML, CSS, and JavaScript, and I’ve gained valuable experience over the past few months, especially with Python, which helps me build effective applications for each project. I also know how to use Bootstrap (5) and Flask, allowing me to build dynamic and responsive websites that provide a great user experience. Even though I'm new to the tech field, I'm excited about what I can create!</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Flask <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Bootstrap 5 <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">CSS <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"> Selenium and Beautiful Soup <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQLAlchemy <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

             <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Hi there! I'm Goran Ivanovski, and welcome to my portfolio. Here, you'll find a snapshot of my journey in coding and technology. I've included five projects that show how I'm always motivated to learn and improve.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 col-md-6 portfolio-item">
            <div class="portfolio-card">
              <img src="static/img/portfolio/flask-blog.png" class="img-fluid" alt="Blog-for-Deployment">
              <div class="portfolio-content">
                <h3><b>1. Flask Blog</b></h3>
                <p><b>A web application built with Flask that focuses on creating and managing blog posts with user interactions.</b></p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/flask-blog.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="View Image">
                    <button>View Image</button>
                  </a>
                  <a href="https://github.com/Givanovski/blog-for-deployment" target="_blank" title="GitHub Repository">
                    <button>GitHub Repository</button>
                  </a>
                  <a href="https://late-rosmunda-goran-ivanovski-29cf461d.koyeb.app/" target="_blank" title="Live Project">
                    <button>Live Project</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item">
            <div class="portfolio-card">
              <img src="static/img/portfolio/morse-code.png" class="img-fluid" alt="Morse Code Converter">
              <div class="portfolio-content">
                <h3><b>2. Morse Code Converter</b></h3>
                <p><b>The Morse Code Converter is a Python program that allows users to convert text to Morse code and vice versa.</b></p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/morse-code.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="View Image">
                    <button>View Image</button>
                  </a>
                  <a href="https://github.com/Givanovski/Morse-Code-Converter" target="_blank" title="GitHub Repository">
                    <button>GitHub Repository</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item">
            <div class="portfolio-card">
              <img src="static/img/portfolio/poll-app.png" class="img-fluid" alt="Poll App">
              <div class="portfolio-content">
                <h3><b>3. Poll App</b></h3>
                <p><b>Pool App is a web app built with Python, Flask, Bootstrap, JavaScript, and PostgreSQL. Users can create, share, and vote on polls with real-time results.</b></p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/poll-app.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="View Image">
                    <button>View Image</button>
                  </a>
                  <a href="https://github.com/Givanovski/poll-app" target="_blank" title="GitHub Repository">
                    <button>GitHub Repository</button>
                  </a>
                  <a href="https://poll-app-uubz.onrender.com/" target="_blank" title="Live Project">
                    <button>Live Project</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item portfolio-item-small-img">
            <div class="portfolio-card">
              <img src="static/img/portfolio/api.png" class="img-fluid" alt="Contact-Manager-Application">
              <div class="portfolio-content">
                <h3><b>4. Contact-Manager-Application</b></h3>
                <p><b>This project defines a Flask Blueprint that provides a RESTful API for managing contacts, with operations for retrieving, adding, updating, and deleting, and is fully documented in Postman.</b></p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/api.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="View Image">
                    <button>View Image</button>
                  </a>
                  <a href="https://github.com/Givanovski/Contact-Manager-Application" target="_blank" title="GitHub Repository">
                    <button>GitHub Repository</button>
                  </a>
                  <a href="https://web.postman.co/workspace/18f135b2-b1f2-4ec1-80f7-d849108b608d/documentation/32546891-32cfce4f-7cec-4d38-a990-09918e8780e2" target="_blank" title="Live Project">
                    <button>API Documentation</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item">
            <div class="portfolio-card">
              <img src="static/img/portfolio/scraper.png" class="img-fluid" alt="Rental Property Scraper">
              <div class="portfolio-content">
                <h3><b>5. Rental-Property-Scraper</b></h3>
                <p><b>This project is a Python script that scrapes rental property listings from a Zillow clone website and submits the scraped data to a Google Form.</b></p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/scraper.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="View Image">
                    <button>View Image</button>
                  </a>
                  <a href="https://github.com/Givanovski/Rental-Property-Scraper" target="_blank" title="GitHub Repository">
                    <button>GitHub Repository</button>
                  </a>
                  <a href="https://drive.google.com/file/d/1FL3KZlgbcprUHhxunWhNKrI8iHtu6EMh/view?usp=sharing" target="_blank" title="Watch Video">
                    <button>Watch Video</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="section-footer">
          <p>I'm just getting started on my coding journey, and I'm excited to keep learning and taking on bigger challenges. My goal is to dive into data science and AI someday, and I’m excited to see where this path takes me. Join me, and let's create something amazing together!</p>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
         <p>
          I am actively seeking freelance opportunities and welcome collaborations with both individuals and companies.<br>
          If you have any inquiries, wish to connect, or are interested in potential collaboration, please don't hesitate to contact me through the form below. I eagerly anticipate your outreach and am excited about the prospect of working together!
        </p>

        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Solunska 102 Bitola, Macedonia</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>goranivanovski1611@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+389 70 212224</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.990944698401!2d21.330100975460407!3d41.0254540550605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135724e2d801dc0b%3A0xe027c863cb94e7b2!2sSolunska%2C%20Bitola!5e0!3m2!1sen!2smk!4v1707743032009!5m2!1sen!2smk" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

           <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('home') }}"
            method="post"
            autocomplete="off"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Enter your name..."
                required
              >
              <label for="name">Name</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Enter your email..."
                required
              >
              <label for="email">Email address</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="subject"
                name="subject"
                type="tel"
                placeholder="Enter your subject..."
                required
              >
              <label for="subject">Subject</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                required
                style="height: 12rem"
              ></textarea>
              <label for="message">Message</label>
            </div>
            <button
              class="btn btn-primary text-uppercase"
              id="submitButton"
              type="submit"
            >
              Send
            </button>
          </form>
          </div>
        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Goran Ivanovski 2024</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.umd.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>